/* MAIN LAYOUT */
.main-layout {
  max-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr 2fr 2fr 2fr 2fr;

  background-color: #22252c;
  padding: 20px;
}

.main-layout .editor {
  grid-row: 2/6;
}

/* EDITOR LAYOUT */
.editor-layout {
  height: 70vh;
  background-color: #383b42;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0px 30px;
}
.editor-layout .meme-area {
  place-self: center;
}

/* GALLERY LAYOUT */
.gallery {
  background-color: #383b42;
  padding-block-start: 20px;
  border-radius: 20px;
  padding: 10px;
}

.gallery-body {
  height: 70vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  place-items: center;
  gap: 15px;
  padding: 10px;
}
