/* MAIN LAYOUT */
.main-layout {
  max-height: 100vh;
  grid-template-rows: 1fr 18fr 1fr;

  background-color: var(--bgPrimary-2);
  padding: 20px;
}

.main-layout .editor {
  grid-row: 2/6;
}

/* EDITOR LAYOUT */
.editor-layout {
  height: 70vh;
  background-color: var(--bgPrimary);
  border-radius: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0px 30px;
}
.editor-layout .meme-area {
  place-self: center;
}

/* GALLERY LAYOUT */
.gallery {
  background-color: var(--bgPrimary);
  padding-block-start: 20px;
  border-radius: 20px;
  padding: 10px;
}

.gallery-body {
  height: 80vh;
  overflow-y: scroll;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  place-items: center;
  gap: 15px;
  padding: 10px;
}
