/* MAIN LAYOUT */
.main-layout {
  display: grid;
  grid-template-rows: 1fr 8fr 2fr 2fr 2fr 2fr;

  height: 100vh;
  margin-top: 10px;
}

.main-layout .editor {
  grid-row: 2/6;
}

/* EDITOR LAYOUT */
.editor-layout {
  display: grid;
  grid-auto-flow: column;
  margin: 10px 10px;
}

/* GALLERY LAYOUT */

.gallery {
  display: grid;
  grid-auto-flow: column;
}
