@media (max-width: 920px) {
  body {
    background-color: #22252c;
  }
  .editor-layout {
    grid-template-columns: 1fr;
    height: 100vh;
  }

  .gallery-body {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  .gallery img {
    border-radius: 30px;
    width: 120px;
  }

  .gallery-header {
    gap: 10px;
  }

  .gallery .search-field {
    margin-left: 0px;
    margin-right: 20px;
    padding: 0px 5px;
    font-size: 0.6em;
  }
  .gallery .search-button {
    margin-left: -70px;
    margin-right: 20px;
  }
}
