:root {
  /* pallete */
  --bgPrimary: #383b42;
  --bgPrimary-2: #22252c;
  --boxShadowPrimary: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  --lightThemeColor: aliceblue;
  --gradientPrimary: linear-gradient(
    90deg,
    rgba(179, 15, 47, 1) 0%,
    rgba(150, 29, 109, 1) 54%,
    rgba(251, 95, 212, 1) 100%
  );
  --gradientBackground: #b30f2f;
  --gradientBackground-2: #0f9bb3;

  /* layout */
  /* --card-layout-margin: 0;
    --card-center-margin: 40px;

    --l: 1060px;
    --m: 860px;
    --s: 600px;

    --layout-width: 1fr;

    --layout-padding: 20px; */
}
