.controls {
  place-self: center;

  background-color: var(--bgPrimary);
  border-radius: 30px;
  width: 80%;
  height: 90%;
  padding: 10px;
  background-color: rgba(181, 181, 181, 0.532);
}

.controls .btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  color: var(--lightThemeColor);
  border: none;
  box-shadow: var(--boxShadowPrimary);
}
.controls .btn-download {
  background-color: #8f44bb;
}
.controls .btn-share {
  background-color: #1e7cd3;
}
.controls .btn-switch {
  background-color: #49b6d1;
}
.controls .btn-add {
  background-color: #40de58;
}
.controls .btn-delete {
  background-color: #da2e36;
}
.controls .btn-save {
  background-color: var(--lightThemeColor);
  color: black;
}
.controls .btn-facebook {
  background-color: var(--lightThemeColor);
  color: black;
}
.controls .btn-instagram {
  background-color: var(--lightThemeColor);
  color: black;
}

.mid-buttons {
  flex-wrap: wrap;
  gap: 5px;
  background-color: rgb(215, 70, 167);
  padding: 10px;
  border-radius: 10px;
}
.mid-buttons .btn > img {
  width: 0.9em;
}
.mid-buttons .font-dropdown {
  color: black;
}

.controls .text-input {
  box-shadow: var(--boxShadowPrimary);
  border-radius: 12px;
  padding: 10px;
  font-family: inherit;
  text-align: center;
}

.controls label {
  cursor: pointer;
}

.controls .stickers {
  background-color: var(--lightThemeColor);
  border-radius: 20px;
  padding: 10px 20px;
}
.controls .stickers img {
  width: 20%;
  cursor: pointer;
}
