.gallery .gallery-header {
  display: flex;
  justify-content: space-around;
}
.gallery img {
  border-radius: 30px;
  width: 200px;
}

.gallery .search-words {
  border-radius: 30px;
  padding: 10px;
  color: aliceblue;
  background-color: #87898d;
}

.gallery .form {
  display: flex;
  flex-direction: row;
}
.gallery .search-field {
  margin-left: 20px;
  padding: 10px 35px 10px 15px;
  background-color: #22252c;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 1em;
  font-family: Poppins-Reg;
}

.gallery .search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -50px;
}
