.gallery .gallery-header {
  display: flex;
  justify-content: space-around;
}
.gallery-header .btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  color: aliceblue;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.gallery-header .btn-flexible {
  background-color: rgb(111, 168, 232);
  color: black;
  font-family: Poppins-Reg;
}
.gallery img {
  border-radius: 30px;
  width: 200px;
}

.gallery .search-words {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
  padding: 10px;
  color: aliceblue;
  background-color: #87898d;
}
.gallery .search-words span {
  cursor: pointer;
  user-select: none;
  margin-right: 10px;
}

.gallery .form {
  display: flex;
  flex-direction: row;
}
.gallery .search-field {
  color: aliceblue;
  margin-left: 20px;
  padding: 10px 35px 10px 15px;
  background-color: #22252c;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 1em;
  font-family: Poppins-Reg;
}

.gallery .search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -50px;
}

.gallery .btn-upload {
  color: black;
  width: 70px;
}
