.gallery-header .btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  color: var(--lightThemeColor);
  border: none;
  box-shadow: var(--boxShadowPrimary);
}
.gallery-header .btn-flexible {
  background-color: rgb(111, 168, 232);
  color: black;
  font-family: Poppins-Reg, Rubik-Reg;
}
.gallery img {
  border-radius: 30px;
  width: 200px;
  box-shadow: var(--imgBoxShadow);
}

.gallery .search-words {
  border-radius: 30px;
  padding: 10px;
  color: var(--lightThemeColor);
  background-color: #87898d;
}
.gallery .search-words span {
  cursor: pointer;
  user-select: none;
  margin-inline-end: 10px;
}

.gallery .search-field {
  color: var(--lightThemeColor);
  margin-inline-start: 20px;
  padding: 10px 35px 10px 15px;
  background-color: var(--bgPrimary-2);
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 1em;
  font-family: Poppins-Reg, Rubik-Reg;
}

.gallery .search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-inline-start: -50px;
}

.gallery .btn-upload {
  color: black;
  width: 70px;
}
