.navbar {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;

  place-items: center;

  margin-block-end: 10px;

  width: 100%;
  background: rgb(15, 155, 179);
  background: linear-gradient(
    90deg,
    rgba(15, 155, 179, 1) 0%,
    rgba(33, 172, 145, 1) 57%,
    rgba(48, 187, 115, 1) 100%
  );
  list-style-type: none;

  border-radius: 30px;
  padding: 10px;
  color: aliceblue;
}

.nav-item:not(.logo):hover {
  cursor: pointer;
  color: rgba(48, 187, 115, 1);
  background-color: aliceblue;
  padding: 0px 10px;
  border-radius: 12px;
}

.navbar .logo {
  font-family: Inconsolata-Reg, monospace, Rubik-Reg;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.3em;
  margin-inline-end: 150px;
  pointer-events: none;
}
.navbar .about-link {
  place-self: center start;
}
.navbar .about-link a {
  text-decoration: none;
  color: inherit;
}
.navbar .gallery-link {
  place-self: center end;
}
.navbar .memes-link {
  place-self: center;
}
.navbar .language-toggle {
  place-self: center start;
}

.navbar .btn {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 12px;
  color: black;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.active {
  cursor: pointer;
  color: rgba(48, 187, 115, 1);
  background-color: aliceblue;
  padding: 0px 10px;
  border-radius: 12px;
}
