.navbar {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;

  place-items: center;

  margin-block-end: 10px;

  width: 100%;
  background: var(--gradientBackground-2);
  background: var(--gradientPrimary);
  list-style-type: none;

  border-radius: 30px;
  padding: 10px;
  color: var(--lightThemeColor);
}

.nav-item:not(.logo):hover {
  cursor: pointer;
  color: var(--gradientBackground);
  background-color: var(--lightThemeColor);
  padding: 0px 10px;
  border-radius: 12px;
}

.navbar .logo {
  font-family: Inconsolata-Reg, monospace, Rubik-Reg;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.3em;
  margin-inline-end: 150px;
  pointer-events: none;
}
.navbar .about-link {
  place-self: center start;
}
.navbar .about-link a {
  text-decoration: none;
  color: inherit;
}
.navbar .gallery-link {
  place-self: center end;
}
.navbar .memes-link {
  place-self: center;
}
.navbar .language-toggle {
  place-self: center start;
}

.navbar .btn {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 12px;
  color: black;
  border: none;
  box-shadow: var(--boxShadowPrimary);
}

.active {
  cursor: pointer;
  color: var(--gradientBackground);
  background-color: var(--lightThemeColor);
  padding: 0px 10px;
  border-radius: 12px;
}
