.saved-memes-body {
  background-color: var(--bgPrimary);
  padding-block-start: 20px;
  border-radius: 20px;
  padding: 10px;
  height: 70vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  place-items: center;
  gap: 15px;
  padding: 10px;
}
