/* width */
::-webkit-scrollbar {
  margin-inline-end: 12px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--bgPrimary-2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gradientBackground-2);
  background: var(--gradientPrimary);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gradientBackground-2);
  background: var(--gradientPrimary);
}
