.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  width: 120px;
  height: 150px;
  background-color: #1e7cd3;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 12px;

  /* Position the tooltip */
  position: absolute;
  bottom: 40px;
  right: -20px;
  z-index: 1;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.tooltip.show-tooltip .tooltip-text {
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
