.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  width: 120px;
  height: 150px;
  background-color: #1e7cd3;
  color: var(--lightThemeColor);
  text-align: center;
  border-radius: 6px;
  padding: 12px;

  position: absolute;
  bottom: 40px;
  right: -20px;
  z-index: 1;

  box-shadow: var(--boxShadowPrimary);
}

.tooltip.show-tooltip .tooltip-text {
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
